
colors {
  color: #1603f8;
  color: #fdcd27;
  color: #19b6f9;
  color: #fc3430;
  color: #c8cea9;
  color: #23c559;
  color: #13902e;
}

a {
  color: #fc3430;
  color: #356fc0;
}

.hidden {
  display: none !important;
}

.menu, .menu-narrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  width: 100%;
  font-size: 0.9em;
  line-height: normal;
  /* padding-top: 1em; */
  font-family: 'Lato';
  font-weight: 400;
  position: relative;
  background-color: #fafafa;
  border-bottom: 1px solid #c5c5c5;
  box-shadow: 0 0 3px 2px rgba(0,0,0,.1);
  height: 50px;
}

.menu-narrow {
  display: none;
}

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown-trigger a {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.dropdown.is-active .dropdown-menu {
	display: block;
}

.dropdown-content {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  padding-bottom: .5rem;
  padding-top: .5rem;
}

a.dropdown-item, button.dropdown-item {
	padding-right: 3rem;
	text-align: left;
	white-space: nowrap;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

a.dropdown-item:hover, button.dropdown-item:hover {
	background-color: #f5f5f5;
	color: #0a0a0a;
}

.dropdown-item {
	color: #4a4a4a;
	display: block;
	font-size: .775rem;
	line-height: 1.35;
	padding: .35rem 1rem;
	position: relative;
}

.dropdown-divider {
	background-color: #dbdbdb;
	border: none;
	display: block;
	height: 1px;
	margin: .5rem 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  padding-right: 12px;
  font-size: initial;
  line-height: 1.42857143;
  color: #555;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #959595;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(129, 142, 129, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(114, 135, 121, 0.6);
}

.search-box .form-control {
  font-family: Inconsolata, "Ubuntu Mono", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, Consolas, "Courier New", monospace;
  padding-right: 42.5px;
}

.form-control-icon-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  font-size: 0.8em;
  color: #959595;
}

.menu__logo-wrapper {
  float: left;
  /* -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); */
  margin-right: 0;
}

.menu__logo-wrapper a {
  display: block;
  padding-top: 10px;
  height: 36px;
}

.menu__logo-wrapper img {
  /* width: 240px; */
  height: 27px;
  image-rendering: optimizequality
}

.menu__items-wrapper-left {
  float: left;
  display: block;
  margin-top: 13px;
  margin-bottom: 12px;
}

.menu__items-wrapper-right {
  float: right;
  display: block;
  margin-top: 13px;
  margin-bottom: 12px;
}

.menu__items-list {
  text-align: right;
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin: 0em 0.3em 0em 0.3em;
}

.menu__item.active {
  /*color: #1603f8;*/
  /*color: #fdcd27;*/
  color: #1394cb;
  /*color: #fc3430;*/
  /*color: #c8cea9;*/
  /*color: #23c559;*/
  /*color: #13902e;*/
  /*color: green;*/
}

.menu__item a.menu__item-link:hover {
  border-bottom: 3px solid #1394cb;
}

.menu__item-link, .menu__item-version-link {
  color: inherit;
  padding: 0.2em 0;
  text-decoration: none;
}

aside nav {
  padding: 1.0em 0.5em;
}

aside nav ul li {
  display: block;
}

aside nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.3em 1em;
  /* margin-right: 0.3em; */
  border-radius: 3px;
  color: #888;
}

aside ul li {
  list-style-type: none;
  font-size: initial;
  margin-top: 2px;
}

aside nav ul {
  padding:0;
  margin:0;
  list-style: none;
  /*margin-bottom: 20px;*/
}

aside nav > ul > li > a {
  /*margin-top: 20px;*/
  font-size: 1.25em;
}

aside nav > ul > li > ul > li > a {
  /*margin-top: 30px;*/
  font-size: 1.25em;
  /*background-color: whitesmoke;*/
  /*background-color: #C1D6FF;*/
  /*background-color: #f0f0f0;*/
   /*color: #e04e50;*/
  /*color: #2863bf;*/
  /*color: #FAAC1D;*/
  /*color: #1C5BED;*/
}

aside nav > ul > li > ul > li > ul > li > a {
  font-size: 1.15em;
  padding-left: 2.0em;
}

aside nav > ul > li > ul > li > ul > li > ul > li > a{
  font-size: 1.0em;
  padding-left: 3.5em;
}

aside nav > ul > li > ul > li > ul > li > ul > li > ul > li a {
  font-size: 1.0em;
  padding-left: 4.5em;
}

aside nav > ul > li > ul > li > ul > li:last-child {
  padding-bottom: 2em;
}

aside nav ul li a:hover, aside nav ul li a.active {
  /*background-color: #eee;*/
  /*color: #666;*/
  /*background-color: #337ab7;*/
  /*background-color: #5188b7;*/
  /*color: white;*/
  /*background-color: #79A5FF;*/
  /*background-color: #afd1f7;*/
  /*background-color: #92B0F6;*/
  /*background-color: #9B59B6;*/
  /*background-color: #C6EFFE;*/
  /*background-color: #1C94FB;*/
  /*background-color: #f4edff;*/
  /*color: #1603f8;*/
  /*color: #fdcd27;*/
  /*color: #19b6f9;*/
  /*color: #fc3430;*/
  /*color: #c8cea9;*/
  /*color: #23c559;*/
  /*color: #13902e;*/
  color: white;
  /*background-color: whitesmoke;*/
  /*background-color: #1603f8;*/
  /*background-color: #fdcd27;*/
  background-color: #1394cb;
  /*background-color: #fc3430;*/
  /*background-color: #c8cea9;*/
  /*background-color: #23c559;*/
  /*background-color: #13902e;*/

}



main h1 {
  font-size: 1.7em;
  /* padding-top: 1.9rem; */
  margin-bottom: 1.9rem;
}

/* main h1:first-child {
  margin-top: 0;
  padding-top: 0;
} */

main h2 {
  font-size: 1.4em;
  /*font-weight: bold;*/
  /* padding-top: 1.0rem; */
  margin-bottom: 1.0rem;
}

main h3 {
  font-size: 1.3em;
  /*font-weight: bold;*/
  /* padding-top: 1.0rem; */
  margin-bottom: 1.0rem;
}

main h4, main h5, main h6 {
  font-size: 1.2em;
  /*font-weight: bold;*/
  /* padding-top: 1.0rem; */
  margin-bottom: 1.0rem;
}

main p {
  margin: 1.0rem auto;
  line-height: 1.5em;
  text-align: justify;
}

main code, main pre {
  font-family: Inconsolata, "Ubuntu Mono", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, Consolas, "Courier New", monospace;
}

main code {
  background: #f8f8f8;
  padding: 0.15em;
  white-space: pre;
}

main pre code {
  line-height: 1.3em;
  font-size: 0.9em;
  padding:8px 15px;
  /*background: #f8f8f8;  */
  /* border-radius:8px; */
  border:1px solid #c5c5c5;
  overflow-x: auto;
  margin: 1.0rem auto;
  display: block;
}

main ul {
  padding-left: 2em;
}

main table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

main table caption {
    color: #000;
    padding: 1em 0;
    text-align: center;
}

main table td,
main table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
    border-bottom: 1px solid #cbcbcb;
}

main table tbody > tr:last-child > td {
    border-bottom-width: 0;
}


main table td:first-child,
main table th:first-child {
    border-left-width: 0;
}

main table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

main table td {
    background-color: transparent;
}

main table.odd td {
    background-color: #f2f2f2;
}

main table.striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}



/* HORIZONTAL BORDERED TABLES */

main table.horizontal td,
main table.horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
main table.horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

footer > div {
  flex-grow: 1;
}

.footer__social {
  text-align: center;
}

.footer__links {
  text-align: right;
}

.footer__links a {
  color: #6f7476;
  margin-left: 1em;
}
