<header>
    <div class="menu">

      <!-- logo -->
      <!-- <div class="menu__logo-wrapper">
          <a href="/index.html" class="menu__logo"><img alt="tweakflow logo" src="/img/tweakflow_logo.svg"></a>
      </div> -->
      <!-- navigation -->
      <nav role="navigation" class="menu__items-wrapper-left">
        <ul class="menu__items">
            <li class="menu__item">
                <a class="menu__item-version-link" href="/index.html"><b>Tweakflow</b> v{{ .Site.Params.version }}</a>
            </li>
            {{ if .Site.Menus.mainleft }}
            {{ $currentPage := . }}
            {{ range .Site.Menus.mainleft }}
            <li class="menu__item{{ if eq $currentPage.URL .URL }} active{{ end }}" >
              <a class="menu__item-link" href="{{.URL}}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
      </nav>
      <nav role="navigation" class="menu__items-wrapper-right">
        <ul class="menu__items">
            {{ if .Site.Menus.mainright }}
            {{ $currentPage := . }}
            {{ range .Site.Menus.mainright }}
            <li class="menu__item{{ if eq $currentPage.URL .URL }} active{{ end }}" >
              <a class="menu__item-link" href="{{.URL}}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
      </nav>
    </div>

</header>
