{{ if .Site.Params.twitter }}
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ if .IsHome}}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:image:src" content="{{ .Site.BaseURL }}/media/twitter-card.jpg">
<meta name="twitter:domain" content="{{ .Site.BaseURL }}">
{{ with .Site.Params.twitter }}<meta name="twitter:site" content="@{{ . }}" />{{ end }}
{{ with .Site.Params.twitter }}<meta name="twitter:creator" content="@{{ . }}" />{{ end }}
{{ end }}