<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">

{{ partial "head" . }}

<body>
    {{ partial "header" . }}
    <div class="content-wrapper">
      {{ if not (eq .Params.toc false) }}
      <aside class="toc">
        <div class="toc-wrapper">
          <div class="scrollable-parent">
            <div class="scrollable-content">
              {{ .TableOfContents }}
            </div>
          </div>
        </div>
      </aside>
      {{ end }}
      <main class="single-content {{ if (eq .Params.toc false) }}no-toc{{end}}" role="main">
        {{ .Content }}
        {{ partial "footer" . }}
      </main>
    </div>

    {{ partial "js" . }}
</body>

</html>
