<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">

{{ partial "head" . }}

<body>
    {{ partial "header" . }}
    <div class="content-wrapper">
      {{ if not (eq .Params.toc false) }} 
      <aside class="toc">
        <div class="toc-wrapper">
          <div class="scrollable-parent">
            <div class="scrollable-content">
              {{ .TableOfContents }}
            </div>
          </div>
        </div>
      </aside>
      {{ end }}
      <main class="single-content" role="main">
        {{ .Content }}
      </main>
    </div>
    {{ partial "footer" . }}
    {{ partial "js" . }}
</body>

</html>
